
.box-banner {
	position: relative;
}
.item-banner {
    position: relative;
    .caption-banner {
    	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    color: #fff;
	    h4 {
	    	font-size: 26px;
    		font-weight: 600;
	    }
	    h2 {
	    	font-size: 48px;
		    font-weight: 700;
		    line-height: initial;
		    padding: 25px 0 15px 0;
		    span {
		    	color: #1BDAC9;
		    }
	    }
	    .desc {
	    	font-size: 14px;
		    font-weight: 500;
		    margin-bottom: 60px;
	    }
    }
}